# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ========= #
# My foders #
# ========= #
Assets/AssetStore/
Builds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.csproj
*.sln